/* Styles the thumbnail */
.photos {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }


img.box-img{
    height: 600px;
}

.modal-content{
    width: 740px;

}

.modal-header {
    width: auto;
    
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

  .display-3 {
    color: black;
  }

  .subhead {
    color: black;
    font-weight: normal;
  }

  .lead {
    color: black;
    font-weight: normal;
  }

  .my-4 {
    border: 1px solid black;
    border-radius: 2px;
  }

  .img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    padding: 10px;
  }

  .img:hover {
    opacity: 0.9;
    transform: scale(1.009);

  }



  .card-size {
    height: 330px;
    width: 330px;

  }

  .nitish {
    color: #ffffff;
  }

  #footer {
    background-color: #4c4d4d;
    height: 75px;
    text-align: center;
    padding: 0.5px;
    margin-top: 1px;
    font-family: sans-serif;
    letter-spacing: 2px;
  }

  #entry {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

    letter-spacing: 4px;
    background-color: #222;
  }

  h2 {
    color: #ffffff;
    position: relative;
  }


  .zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .logo {
    height: 60%;
    width: 60%;

  }

  .vertical-hr {
    border-right: 1px solid grey;
    height: 50px;
    width: 2px;
    margin-right: 15px;
  }

  .card-size {
    height: 460px !important;
    box-shadow: 0px 0px 5px !important;
  }
  .card-img-top {
    height: 360px !important;
  }
  .card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding-top: 3px !important;
  }

.stdt-img{
  height: 80px;
  width: 80px;
  font-size: 34px;
}
.stdt-name{
  font-size: 24px;
  float: right;
  display: inline;
}


  #respond {

    color: #000000;
    background-color: #969696;
    margin-top: 1px;
  }

  #respond input[type='text'],
  #respond input[type='email'],
  #respond textarea {

    display: block;
    width: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    line-height: 1.4em;
  }


  .roomh{
    font-size: 24px
  }
  .ifc{
    height: 480px;
    width: 853px;
  }

  .tvid{
    border: grey;
    border-width: 1px;
    width: 90%;
  
  }
  
  

  @media(max-width:600px) {
    #card-deck {
      width: 100%;
      align-content: center;

    }
    img.box-img {
      width: 100%;
      height: auto !important;
    }

    .modal-content{
        width: 100%;
        height: auto;

    
    }
    
    .modal-header {
        width:100%px;
        
        
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);
    }

    img.box-img{
        height: 100%;
        width: 100%
    }

  

    .closebtn{

    padding-left: 50px
    }


.roomh{
  font-size: 12px
}
.bk{
  font-size: 8px
}
.fd{
  font-size: 8px;
  margin-right: 0px
}
.ifc{
  height: 337px;
  width: 92%;
  ;
}



    .photos {
      background;
    }
  }


  @media(max-width:464px) {
  










}